<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Goal</title>
  </head>
  <body>
    <p>Current User: {{current_user}}</p>
    <p>Group: {{ user_grp}}</p>
    <form action="" method="post">
      {% csrf_token %} {% for field in form %}
      <p>
        {{ field.label_tag }} <br />
        {{ field }}
      </p>
      {% endfor %}
      <button type="submit">Add Goal</button>
    </form>
  </body>
</html>
