<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Error</title>
  </head>
  <body>
    <p>Sorry! You can't move other user's goal</p>
    <p>Back to <a href="{% url 'nathmankindscrumy:home' %}">Home</a></p>
  </body>
</html>
