<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ScrumyApp</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
      button {
        background-color: #051782;
        border: none;
        margin-top: 8px;
        padding: 8px 12px;
        border-radius: 12px;
      }
      button a {
        text-decoration: none;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <h1>
      Current User: {{ current_user }}
      <span
        style="color: #ffffff; padding: 2px 4px; border-radius: 8px; font-family: Arial, Helvetica, sans-serif; font-weight: 200; background-color: rgb(45, 119, 2);"
        >User Group: {{ user_group }}</span
      >
    </h1>
    <!-- new way to build the table -->

    <table>
      <tr>
        <th>User</th>
        <th>Weekly Goal</th>
        <th>Daily Goal</th>
        <th>Verify Goal</th>
        <th>Done Goal</th>
      </tr>

      <!-- {% if all_goals %} {% for goal in all_goals %} {% for a_goal in goal %}
      <tr>
        <td>{{ a_goal.user }}</td>

        {% if a_goal.goal_status_id == 1 %}
        <td>{{ a_goal.goal_id }}) {{ a_goal.goal_name }}</td>
        {% else %}
        <td>--</td>
        {% endif %} {% if a_goal.goal_status_id == 2 %}
        <td>{{ a_goal.goal_id }}) {{ a_goal.goal_name }}</td>
        {% else %}
        <td>--</td>
        {% endif %} {% if a_goal.goal_status_id == 3 %}
        <td>{{ a_goal.goal_id }}) {{ a_goal.goal_name }}</td>
        {% else %}
        <td>--</td>
        {% endif %} {% if a_goal.goal_status_id == 4 %}
        <td>{{ a_goal.goal_id }}) {{ a_goal.goal_name }}</td>
        {% else %}
        <td>--</td>
        {% endif %}
      </tr>

      {% endfor %} {% endfor %} {% endif %} -->

      {% if users %} {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>
          {% for goal in user.user.all %} {% if goal.goal_status.id == 1 %}
          <p>
            <a href="{% url 'nathmankindscrumy:movegoal' goal.goal_id %}"
              >{{ goal.goal_id }} - {{ goal}}
            </a>
          </p>
          {% endif %} {% endfor %}
        </td>
        <td>
          {% for goal in user.user.all %} {% if goal.goal_status.id == 2 %}
          <p>
            <a href="{% url 'nathmankindscrumy:movegoal' goal.goal_id %}"
              >{{ goal.goal_id }} - {{ goal}}
            </a>
          </p>
          {% endif %} {% endfor %}
        </td>
        <td>
          {% for goal in user.user.all %} {% if goal.goal_status.id == 3 %}
          <p>
            <a href="{% url 'nathmankindscrumy:movegoal' goal.goal_id %}"
              >{{ goal.goal_id }} - {{ goal}}
            </a>
          </p>
          {% endif %} {% endfor %}
        </td>
        <td>
          {% for goal in user.user.all %} {% if goal.goal_status.id == 4 %}
          <p>
            <a href="{% url 'nathmankindscrumy:movegoal' goal.goal_id %}"
              >{{ goal.goal_id }} - {{ goal}}
            </a>
          </p>
          {% endif %} {% endfor %}
        </td>
      </tr>
      {% endfor %} {% endif %}
    </table>

    <button>
      <a href="{% url 'nathmankindscrumy:addgoal' %}">Add Goal</a>
    </button>
  </body>
</html>
