<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <style>
        ul {
            display: inline-block;
            list-style-type: none;
            padding-left: 8px;
        }
    </style>
</head>
<body>
<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }} <br>
        {{ field }}

        {% if field.help_text %}
        <small> {{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
    <p style="color: red">{{error}}</p>
    {% endfor %}
    </p>
    {% endfor %}

    <button type="submit">Sign Up</button>
    <p>Already have an account? <a href="{% url 'nathmankindscrumy:login' %}">Login</a></p>
</form>

</body>
</html>
