<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Move goal</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <p>Select the status you want</p>
      {{ form }}
      <button type="submit">Move Goal</button>
    </form>
  </body>
</html>
