<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Goal Move</title>
  </head>
  <body>
    <p>
      <span style="font-size: 24px; font-weight: 400; color: rgb(50, 126, 0);"
        >{{goal.goal_name}}</span
      >
      has now being moved to
      <span style="font-size: 24px; font-weight: 400; color: rgb(50, 126, 0);"
        >{{goal.goal_status}}</span
      >
      successfully
    </p>
    <p>Go to <a href="{% url 'nathmankindscrumy:home' %}">Home</a></p>
  </body>
</html>
