<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Success Page</title>
  </head>
  <body>
    <p>Your account has been created successfully</p>
    <p><a href="{% url 'nathmankindscrumy:login' %}">Login</a></p>
  </body>
</html>
