<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <p><a href="{% url 'nathmankindscrumy:index' %}">Home</a></p>
    {% if form.errors %}
    <p>Invalid login credentials</p>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %} {{error}}
      <input type="text" name="username" />
      <input type="password" name="password" id="password" />
      <input type="submit" value="submit" />
    </form>
    <p>
      Don't have an account?
      <a href="{% url 'nathmankindscrumy:index' %}">Sign Up Now</a>
    </p>
  </body>
</html>
